$main_color: #F7941E
$main_text_color: #000
$transparent_button: $main_color 1px solid
$h2_big: 60px
$p_big: 37px
$h2_mobile: 28px
$p_mobile: 16px

@mixin flex-box 
    display: flex
    flex-direction: row
    justify-content: space-between
    

@mixin button
    display: block
    border: none
    width: 200px
    height: 60px
    font-size: 18px
    line-height: 22px
    text-align: center
    text-transform: uppercase
    border-radius: 5px
    cursor: pointer
    &:hover
        background-color: #fff
        color: $main_color
        transition: 1s all

@mixin transp_button
    border: $transparent_button
    color: $main_color
    &:hover 
        background-color: $main_color
        color: #fff
        transition: 1s all

@mixin big_button
    width: 340px
    height: 120px
    border-radius: 10px
    font-size: 30px

@mixin small_button
    width: 183px
    font-size: 16px
    height: 54px
    