.start
    height: 380px
    background-color: $main_color
    @include flex-box 
    justify-content: space-around
    &__title
        font-size: $h2_big
        line-height: 45px
        font-weight: 800
        margin: 90px 0 60px
    &__subtitle
        font-size: 42px
    .buttons
        @include flex-box 
        width: 716px
        margin-top: 96px
        .find
            @include button
            @include big_button
            background-color: #000
            color: #fff
            &:hover
                color: #000
        .instruction
            @include button
            @include big_button
            color: #000
            background-color: $main_color
            border: 1px #000 solid
            &:hover
                border: none


.blog
    height: 1480px
    padding-top: 130px 
    &__title
        font-size: $h2_big
        text-align: center
    &__text
        margin-top: 43px
        font-size: $p_big
        text-align: center
    &__wrapper
        padding: 80px 0
        .item-main
            display: flex
            margin: 0 auto
            background-color: #231F20
            height: 600px
            width: 80%
            img
                width: 40%
                object-fit: cover
            &__wrapper
                padding: 63px 20px 0 78px
                color: #fff
                .suptitle
                    font-size: 30px
                .title
                    font-size: 64px
                    line-height: 75px
                    margin: 65px 0 200px
                    max-width: 792px
                .link
                    font-size: 27px
                    color: #fff
                    text-decoration: none
        .items
            @include flex-box
            margin: 0 auto
            width: 80%
            .item
                margin-top: 40px
                box-sizing: border-box
                width: 47%
                min-height: 450px
                max-height: 628px 
                margin-right: 30px
                padding: 48px
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
                &:last-child
                    margin-right: 0
                &:hover
                    box-shadow: none
                &__title
                    font-size: $p_big
                    font-weight: 700
                    line-height: 45px
                &__text
                    margin: 22px 0  70px
                    font-size: 35px
                    line-height: 43px
                &__link
                    text-decoration: none
                    font-size: 30px
