.footer
    background-color: #FAFAFA
    height: 560px
    box-sizing: border-box
    padding-top: 115px
    &__menu
        @include flex-box
        margin: 0 auto 
        width: 62%
        height: 80px
        vertical-align: middle
        .item
            a
                text-decoration: none
                color: $main_text_color
                font-size: 25px
                font-weight: 700
            img
                margin-top: -81px
    hr
        width: 65%
        border: 1px #000 solid
    &__social
        @include flex-box 
        margin: 55px auto 72px
        width: 450px
        .item
            background-color: #000
            width: 55px
            height: 55px
            border-radius: 50%
            box-sizing: border-box
            padding: 12px
            a
                text-decoration: none
                span
                    color: #fff
                    font-size: 30px
    &__privacy
        width: 340px
        margin: 0 auto
        @include flex-box 
        font-size: 21px
        a
            text-decoration: none
            color: #000
