.footer
    background-color: #FAFAFA
    height: 410px
    box-sizing: border-box
    padding-top: 115px
    &__menu
        display: flex
        margin: 0 auto 
        width: 614px
        height: 176px
        vertical-align: middle
        justify-content: space-between
        .item
            img
                margin-top: -81px